<div>
	Add More Wines Types
	<form>
		<input type="" name="winetype" placeholder="Wine Type">
		<button type="button" class="btn btn-default navbar-btn navbar-left glyphicon glyphicon-plus">Add</button>
		<button type="button" class="btn btn-default navbar-btn navbar-left glyphicon glyphicon-remove">Delete</button>
	</form>
	<div class="">

</div>

<div>
	<form>
		<input type="" name="" placeholder="">
	</form>
</div>