<div>
	Add More Wines Types
	<form>
		<input type="" name="winetype" placeholder="Wine Type">
		<button type="button" class="btn btn-default navbar-btn navbar-left glyphicon glyphicon-plus">Add</button>
		<button type="button" class="btn btn-default navbar-btn navbar-left glyphicon glyphicon-remove">Delete</button>
	</form>
	<div class="">

</div>

<div>
	<form>
		<input type="" name="" placeholder="">
	</form>
</div>


 <%# a form that can create a new restaurant%>
  <form action='/restaurants' method='POST' class='centered'>
    <label>name</label>
    <input type='text' name='name' required/>
    <label>location</label>
    <input type='text' name='location' required/>
    <input type='submit' value='create new restaurant' />
  </form>