<!--Display pairings of food with wines or food with beers depending-->
<!--on whic type was clicked-->
<div id="topNav">
	<p><a href="/home">Home</a></p>
</div>
<!--General Beer Pic-->
<div class="categoryPic">
	<img src="/images/beers.jpg" class="img-responsive">
</div>

<!--Display beer type and each associated beer pair-->
<div id="typeTitle">
	<h4>Simple Pairs for <%=@beer.beer_type%></h4>			
</div>
<div>
		<%@beer.beerpairs.each do |beerpair|%>
		<div class="well col-md-4" >
			<%=beerpair.food.food_type%>	
		</div>
		<%end%>
</div>


<!--Button to make another pairing-->
<br>
<a href="/beers">
	<button class="button btn-primary" id="pairAnother"> Pair Another Beer	
	</button><br><br>
	<a href="/foods"><button class="button btn-primary" id="pairAnother">Pair by Food	
</button></a>
<br><br>
<a href="/wines"><button class="button btn-danger" id="pairAnother">Pair by Wine	
</button></a>
</a>
<br><br>
<a href="/home/logout">Logout</a>