<!--For each beer type in wines tables display a clickable div with -->
<!--the type centered-->

<!--Top Nav-->
<div id="topNav">
	<ul>
		<li href="/home">Home</li>
		<li href="/logout">Logout</li>
	</ul>
</div>

<!--Beer Category Pic-->
<div class="categoryPic">
	<img src="images/beers.jpg" class="img-responsive"">
</div>

<!--for each beer type render a div with a class of div-btn and that beertype--> 
<% @beers.each do |beer| %>
	<div class="div_btn">
		<%=beer.beer_type %>
	</div>	
<% end %>			

<!--Button to make another pairing-->
<button id="pairAnother">Pair Another Beer	
</button>