<!--For each beer type in wines tables display a clickable div with -->
<!--the type centered-->

<!--Top Nav-->
<div id="topNav">
	<p><a href="/home"> Home </a><a href="/logut"> Logout</a></p>
</div>

<!--Beer Category Pic-->
<div class="categoryPic">
	<img src="images/beers.jpg" class="img-responsive"">
</div>
<h4>Choose a beer to pair...</h4>
<!--for each beer type render a div with a class of div-btn and that beertype--> 
<% @beers.each do |beer| %>
	<button class="div_btn col-md-12">
		<%=beer.beer_type %>
	</button>		
<% end %>			

<!--Button to make another pairing-->
<button id="pairAnother">Pair Another Beer	
</button>