<!--Display pairings of food with wines or food with beers depending-->
<!--on whic type was clicked-->
<div id="topNav">
	<p><a href="/home">Home</a></p>
</div>
<!--General Beer Pic-->
<div class="categoryPic">
	<img src="/images/beers.jpg" class="img-responsive">
</div>

<!--Display beer type and each associated beer pair-->
<div id="beerHeadline">
	<h4>Simple Pairs for <%=@beer.beer_type%></h4>			
</div>
<div class="alert bg-success">
Beer goes with anything!  But seriously try pairing <%=@beer.beer_type%> with these foods: 
		<%@beer.beerpairs.each do |beerpair|%>
<!-- 		<div class="well col-md-4" > -->
			<%=beerpair.food.food_type%>,	
<!-- 		</div> -->
		<%end%>
</div>


<!--Button to make another pairing-->
<br>
<a href="/beers">
	<div class="alert bg-warning" id="pairAnother"> Pair Another Beer	
	</div>
	<a href="/foods"><div class="alert bg-success" id="pairAnother">Pair by Food	
</div></a>

<a href="/wines"><div class="alert bg-primary" id="pairAnother">Pair by Wine	
</div></a>
</a>

<a href="/home/logout">Logout</a>