<!--For each beer type in wines tables display a clickable div with -->
<!--the type centered-->

<!--Beer Category Pic-->
<div class="categoryPic">
	<img src="/images/beers.jpg" class="img-responsive"">
</div>

<h4>Choose a beer to pair...</h4>
	<!--for each beer type render a div with a class of div-btn and that beertype--> 
<div>
	<% @beers.each do |beer| %>
		<div class="well col-md-4">
			<a href="beers/pairs/<%=beer.id%>">
				<%=beer.beer_type %>
			</a>
		</div>			
	<% end %>			
</div>
<!--Buttons to make another pairing-->
<div>
	<a href="/foods clearfix">
		<div class="btn btn-success" id="pairAnother">Pair by Food	
		</div>
	</a>

	<a href="/wines">
		<div class="btn btn-primary" id="pairAnother">Pair by Wine	
		</div>
	</a>
</div>
<br>