<!--Display pairings of food with wines or food with beers depending-->
<!--on whic type was clicked-->

<!--General Beer Pic-->
<div class="categoryPic">
	<img src="/images/beers.jpg" class="img-responsive">
</div>

<div id="typeTitle">
	<h3><%=@beer.beer_type%></h3>			
</div>
<div>
		<%@beer.beerpairs.each do |beerpair|%>
		<li>
			<%=beerpair.food.food_type%>	
		</li>
		<%end%>
</div>


<!--Button to make another pairing-->
<button id="pairAnother">	
</button>