<!--A form to add, enter, udate and a list of user favorites to save -->

<!--Top Nav-->
<div id="topNav">
	<ul>
		<li href="/home">Home</li>
		<li href="/logout">Logout</li>
	</ul>
</div>

<!--List of Wines by Type-->
Welcome <%= @user.username %> 
Your Favorite Pairings
<ul>
<% @user.favorites.each do |favs| %>				<!--loop through each user favorite pair-->
	<li><%= favs.pair %></li>						<!--list each pairing-->
<% end %>
</ul>

<!--Button to make another pairing-->
<button id="pairAnother">	
</button>