<!--A form to add, enter, udate and a list of user favorites to save -->

<!--Top Nav-->
<div id="topNav">
	<ul>
		<li href="/home">Home</li>
		<li href="/logout">Logout</li>
	</ul>
</div>

<!--List of Wines by Type-->
<div class="container">
	<%=user.pairs.favorites%>
</div>

<!--Button to make another pairing-->
<button id="pairAnother">	
</button>