<!--A form to add, enter, udate and a list of user favorites to save -->

<!--Top Nav-->
<div id="topNav">
		<a href="/home"><p>Home</p></a>
</div>

<!--List of Wines by Type-->
<div>
<p>Hi <%= @user.username %>, 
here are Your FAVORITE pairings...
To save more favorites, enter below.
</div>

<!-- form to add new favorites to user list -->
<div class="add_favs col-md-12 bg-warning">
	<form action="/favorites" method="POST"><br><br>
		<label>Favorite Dish:</label>
		<input type="text" name="fav_food" placeholder="Your Favorite Dish" />
		<label>Your Wine Pair:</label>
		<input type="text" name="fav_wine" placeholder="Your Wine Pair" />
		<label>Your Beer Pair:</label>
		<input type="text" name="fav_beer" placeholder="Your Beer Pair" />
		<br><br>
		<button class="button btn-success">Save</button>
	</form>
</div>	

<ul>
<% @favorites.user.each do |favs| %>				<!--loop through each user favorite pair-->
	<li><%= favs.pair %></li>						<!--list each pairing-->
<% end %>
</ul>

<!--Button to make another pairing-->
<br><br>
<div>
	<a href="/wines">
		<button class="button btn-warning" id="pairAnother">Pair by Wine	
		</button>
	</a>	
	<br><br>
	<a href="/beers">
		<button class="button btn-danger">Pair by Beer		
		</button>
	</a>
</div>	
<br><br>
<a href="/home/logout">Logout</a>