<!--A form to add, enter, udate and a list of user favorites to save -->

<!--Top Nav-->
<div id="topNav">
	<ul>
		<li href="/home">Home</li>
		<li href="/logout">Logout</li>
	</ul>
</div>

<!--List of Wines by Type-->
Welcome <%= @user.username %> 
Your Favorite Pairings
<ul>
<% @user.favorites.each do |favs| %>				<!--loop through each user favorite pair-->
	<li><%= favs.pair %></li>						<!--list each pairing-->
<% end %>
</ul>

<!-- form to add new favorites to user list -->
<div class="add_favs col-md-8">
	<form action="/favorites" method="POST">
		<input type="text" name="fav_food" placeholder="Favorite Dish" />
		<input type="text" name="fav_wine" placeholder="Wine Pair" />
		<input type="text" name="fav_beer" placeholder="Beer Pair" />
		<button>Save</button>
	</form>
</div>	

<!--Button to make another pairing-->
<button id="pairAnother">	
</button>
<br><br>
<a href="/home/logout">Logout</a>