<!--For each food type in foods tables display a clickable div with -->
<!--the type centered-->

<!--Top Nav-->
<div id="topNav">
	<p><a href="/home">Home   </a><a href="/logut">  Logout</a></p>
</div>

<!--Food Desc and Category Pic-->
<div class="heading"></div>
<div>
	<img src="*">
</div>
<h4>Choose A Food to Pair...</h4>
<!--List of Foods by Type for each wine type render a div with a class of div-btn with a foodtype--> 
<% @foods.each do |food| %>
	<div class="col-md-12 bg-warning" align="center">
		<button class="div_btn col-md-12">
			<%= food.food_type %>
		</button>
	</div>		
<% end %>

<!--Button to make another pairing-->
<div class="col-md-12 bg-danger">
	<button id="pairAnother">Pair by Wine</button>
	<button id="pairAnother">Pair by Beer</button>
</div>	