<!--For each food type in foods tables display a clickable div with -->
<!--the type centered-->

<!--Food Desc and Category Pic-->
<div class="heading"></div>
<div>
	<img src="/images/foodbites.jpg" align="center">
</div>
<h4>Choose A Food to Pair...</h4>
<!--List of Foods by Type for each wine type render a div with a class of div-btn with a foodtype--> 
<div>
	<% @foods.each do |food| %>
		<div class="well col-md-4" align="center">
			<a href="/foods/pairs/<%=food.id%>">
					<%= food.food_type %>
			</a>
		</div>			
	<% end %>
</div>

<!--Button to make another pairing-->
<div><br>
	<a href="/wines">
		<div class="btn btn-primary" >Pair by Wine
		</div>
	</a>
	<a href="/beers">
		<div class="btn btn-warning" >Pair by Beer
		</div>
	</a>
	<br>	
</div>