<!-- since food can be paired with a wine or beer display both pairs on
the same page. renders in 'foods/:id/pairs' view -->


<div class="categoryPic">
	<img src="/images/foodbites.jpg " class="img-responsive" align="center"/>
</div>


<!--Display wine type and each associated wine pair-->
<div id="typeTitle">
	<h4>Wine Pairs for <%=@food.food_type%></h$>			
</div>
<div>
		<%@food.winepairs.each do |winepair|%>
		<div class="well col-4-md">
			<%=winepair.wine.wine_type%>	
		</div>
		<%end%>
</div>

<div id="typeTitle">
	<h4>Beer Pairs for <%=@food.food_type%></h$>			
</div>
<div>
		<%@food.beerpairs.each do |beerpair|%>
		<div class="well col-4-md">
			<%=beerpair.beer.beer_type%>	
		</div>
		<%end%>
</div>


<!--Button to make another pairing-->
<br>
<a href="/foods"><button class="button btn-primary" id="pairAnother">Pair Another Food	
</button></a>
