<!--For each food type in foods tables display a clickable div with -->
<!--the type centered-->

<!--Top Nav-->
<div id="topNav">
	<ul>
		<li href="/home">Home</li>
		<li href="/logout">Logout</li>
	</ul>
</div>

<!--Food Desc and Category Pic-->
<div class="heading"></div>
<div>
	<img src="*">
</div>

<!--List of Foods by Type for each wine type render a div with a class of div-btn with a foodtype--> 
<% @foods.each do |food| %>
	<div class="div_btn">
		<%= food.food_type %>
	</div>	
<% end %>

<!--Button to make another pairing-->
<button id="pairAnother">	
</button>