<!--For each food type in foods tables display a clickable div with -->
<!--the type centered-->

<!--Top Nav-->
<div id="topNav">
	<p><a href="/home">Home</a></p>
</div>

<!--Food Desc and Category Pic-->
<div class="heading"></div>
<div>
	<img src="/images/foodbites.jpg">
</div>
<h4>Choose A Food to Pair...</h4>
<!--List of Foods by Type for each wine type render a div with a class of div-btn with a foodtype--> 
<% @foods.each do |food| %>
	<div class="well col-md-4">
		<a href="/foods/pairs/<%=food.id%>">
				<%= food.food_type %>
		</a>
	</div>			
<% end %>

<!--Button to make another pairing-->
<br>
	<a href="/wines">
		<button class="button btn-primary" >Pair by Wine
		</button>
	</a>
	<a href="/beers">
		<button class="button btn-warning" >Pair by Beer
		</button>
	</a>
</div>
<br>
<a href="/home/logout">  Logout</a>	