
<div class="mainContainer">
	<div>
		<img src=""/>
	</div>

	<!--Buttons that provide initital Navigation-->
	<p> Get ready to pair your favorite foods and drinks!</p>
	<p> Start below...</p>

	<div id="mainBtns">
		<div id="wineBtn">
			<a href="/wines"><img src="images/winescoll.jpg" alt="food bites" href="/wines">
			Wine</a>
		</div>
		<div id="beerBtn">
			<a href="/beers"><img src="images/beerscrabble.jpg" alt="food bites" href="/beers">
			Beer</a>
		</div>
		<div id="foodBtn" >
			<a href="/foods"><img src="images/foodbites.jpg" alt="food bites" href="/foods">
			Food</a>
		</div>
	</div>

	<!--Button to allow user to save to their saved pairs-->
	<button id="myBtn" type="button" class="btn btn-primary"> Go to My Favorite Pairs</button>
	<br>
	<a href="/logout">logout</a>
</div>	