
<h4>Choose A Picture to Start Pairing</h4>	

<div class="row">
	<div>
		<div class="col-md-4 mainNav">
			<a href="/wines"><img src="/images/winescoll.jpg" alt="food bites" href="/wines">
			<br> Pair by Wine</a>
		</div>
		<div class="col-md-4 mainNav">
			<a href="/beers"><img src="/images/beerscrabble.jpg" alt="food bites" href="/beers">
			<br>Pair by Beer</a>
		</div>
		<div class="col-md-4 mainNav">
			<a href="/foods"><img src="/images/foodbites.jpg" alt="food bites" href="/foods">
			<br>Pair Foods</a>
		</div>
	</div>
</div>	

<div class="mainContainer">

	<!--Buttons that provide initital Navigation-->
<!-- 	<p> Get ready to pair your favorite foods and drinks!</p>
	<p> Start below...</p> -->

<!-- 	<div id="mainBtns">
		<div class="col-md-4">
			<a href="/wines"><img src="/images/winescoll.jpg" alt="food bites" href="/wines">
			<br>Wine</a>
		</div>
		<div class="col-md-4">
		<div id="beerBtn">
			<a href="/beers"><img src="/images/beerscrabble.jpg" alt="food bites" href="/beers">
			<br>Beer</a>
		</div>
		<div class="col-md-4">
		<div id="foodBtn" >
			<a href="/foods"><img src="/images/foodbites.jpg" alt="food bites" href="/foods">
			<br>Food</a>
		</div>
	</div> -->

	<!--Button to allow user to save to their saved pairs-->
<!-- 	<a href="user/favorites/:id">
		<button id="myBtn" type="button" class="btn btn-primary"> Go to My Favorite Pairs
		</button>
	</a>
	<br>
	<div class='navbar-default'
		<a href="/logout">logout</a>
	</div>
</div> -->	