<!DOCTYPE html>
<html>
<head>
	<title>Beer and Wine Pairings</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<!--Centered Logo At Top of Each Page-->
	<div><img src="">
	</div>

	<div>

		<%= yield %>
	
	</div>

	<!--Centerd copyright at bottom of each page-->
	<div>
		<p>SimplyPair Food Pairing App ©2017</p>
	</div>
	<script src="scripts/app.js"></script>
</body>
</html>