<!--Login Page-->
<div id="mainContainer">
	<img src="images/Wine-Cheese.png" class="img-responsive" alt="wine and cheese"/>

	<!--App Name and Subtitle-->
	<h1 id="AppName"><span>Simply</span><span>Pair</span></h1>
	<p>Food and Drink Pairing Made Simple</p>


	<!--Login Form Inside A container-->
	<p>Welcome! Please Log in</p>	
	<div id="login">
		<form action="/home/login" method="POST">
			<input type="username" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button>Login</button> 
		</form>
	</div>

	<div>Not a member? Please <a href="/home/register">Register</a></div>

<!--Message as a block element displays on failed login-->
	<div id="loginMsg"><%=@message%></div>
</div>