<!--Login and Registration Page-->
<div id="mainContainer">
	<img src="/images/Wine-Cheese.png" class="img-responsive" alt="wine and cheese"/>

	<!--App Name and Subtitle-->
	<h3>Wine & Food Pairing Made Simple</h3>


	<!--Registration Form Inside A container-->
<p>Welcome! </p><%=@message%>
	<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<p class="panel-title">To View and Save Favorites Please register.</p>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" action="/home/register" role="form" method="POST">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Username" name="username" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
<p>Already a Member? <a href="/home/login">Log In</a></p>

<!--Message as a block element displays on failed login-->
	<div id="loginMsg"><%=@message%></div>
</div>

















