<!--Login and Registration Page-->
<div id="mainContainer">
	<img src="images/Wine-Cheese.png" class="img-responsive" alt="wine and cheese"/>

	<!--App Name and Subtitle-->
	<p>Food and Drink Pairing Made Simple</p>


	<!--Registration Form Inside A container-->
<p>Welcome! Please Register</p><%=@message%>
<div class="login bg-info" align="center">
	<div id="register">
		<form action="/home/register" method="POST">
			<br>
			<label>Username:</label>
			<input type="username" name="username" placeholder="username">
			<br><br>
			<label>Password:</label>
			<input type="password" name="password" placeholder="password">
			<br><br>
			<button class="btn btn-primary">JOIN!</button> 
		</form>
	</div>
</div>
<p>Already a Member? <a href="/home/login">Log In</a></p>

<!--Message as a block element displays on failed login-->
	<div id="loginMsg"><%=@message%></div>
</div>

















