<!--Home Page Image-->

<!--** for future dev - search bar**-->

<!--Main Image-->
<div class="mainContainer">
	<div>
		<img src=""/>
	</div>

	<!--Buttons that provide initital Navigation-->
	<p>Select and item to pair...</p>

	<div id="mainBtns">
		<button>Food</button>
		<button>Wine</button>
		<button>Beer</button>
		<button>Recipes</button>
	</div>

	<!--Button to allow user to save to their saved pairs-->
	<button id="myBtn">
	</button>


	<!--Button to pair another-->
	<div>
		<button id="pairAnother">		
		</button>
	</div>
</div>	
