<div>
	<h1>Welcome<h1>
	<h2><%username%>!</h2>

	<div>
		Search Bar Shop Wines
	</div>

	What Would You Like to Do?
	<div class="well col-md-4">
		Pair Wines with Foods
	</div>

	<div class="well col-md-4">
		Pair Foods with Wines or Beers
	</div>
	
	<div class="well col-md-4">
		Pair Beers with Food
	</div>
		
	<div class="well">
		See My Favorite Wines
	</div>	

</div>