<div>
	<h1>Welcome<h1>
	<h2><%username%>!</h2>

	<div>
		Search Bar Shop Wines
	</div>

	What Would You Like to Do?
	<div class="well col-md-4">
		Start Pairing
	</div>
		
	<div class="well">
		See My Favorite Wines
	</div>	

</div>