<!--For the whine style clicked on the wine pairs page, display a page showing the
varietal naeme, a short description of the varietal and a list of varietal types by name
This informaion-->

<h6>Wine Varietals</h6>

<div>
	<div>
		<% @varietals.each do |varietal| %>
			<div class="well col-md-4">
				
					<%= varietal.varietal_name %>
				
			</div>			
		<% end %>			
	</div>
</div>	

<!-- github.com/bkeepers.env -->


