<!--For the whine style clicked on the wine pairs page, display a page showing the
varietal naeme, a short description of the varietal and a list of varietal types by name
This informaion-->

<h4>Wine Varietals</h4>

<div>
	<div>
		<% @varietals.each do |varietal| %>
			<div class="well col-md-4">
				<a href="/wines/pairs/<%=varietal.varietal_name%>/recommendations"><%=varietal.varietal_name%></a>		
			</div>			
		<% end %>			
	</div>
</div>	

<!-- github.com/bkeepers.env -->


