<!--For each wine type in wines tables display a clickable div with -->
<!--the type centered-->

<!--Top Nav-->
<div id="topNav">
	<p><a href="/home">Home</a>
<!--Wine Category Pic-->
<div class="categoryPic">
	<img src="images/winescoll.jpg" class="img-responsive"/>
</div>

<!--List of Wines by Type for each wine type render a div with a class of div-btn with a winetype--> 
<h4>Choose A Wine to Pair...</h4>
	<% @wines.each do |wine| %>
		<a href="/wines/pairs/<%=wine.id%>"> 
			<div class="col-md-4 div_btn">
				<%= wine.wine_type %>
			</div>
		</a>	
	<% end %>	
<!--Button to make another pairing-->
<a href="/foods">
	<button class="button btn-primary" id="pairAnother"> Pair by Food	
	</button>
</a>
<a href="/beers">
	<button class="button btn-warning" id="pairAnother"> Pair by Beer	
	</button>
</a>
<br><br>
<a href="/home/logout">Logout</a>