<!--Display pairings of food with wines or food with beers depending-->
<!--on which type was clicked-->


<div class="categoryPic">
	<img src="/images/wines.jpg " class="img-responsive"/>
</div>


<!--Display wine type and each associated wine pair-->
<div id="typeTitle">
	<h3><%=@wine.wine_type%></h3>			
</div>
<div>
		<%@wine.winepairs.each do |winepair|%>
		<li>
			<%=winepair.food.food_type%>	
		</li>
		<%end%>
</div>


<!--Button to make another pairing-->
<br>
<a href="/wines"><button class="button btn-primary" id="pairAnother">Pair Another Wine	
</button></a>
