<!--For each wine type in wines tables display a clickable div with -->
<!--the type centered-->

<!--Top Nav-->
<div id="topNav">
	<ul>
		<li href="/home">Home</li>
		<li href="/logout">Logout</li>
	</ul>
</div>

<!--Wine Category Pic-->
<div class="categoryPic">
	<img src="images/wines.jpg" class="img-responsive">
</div>

<!--List of Wines by Type for each wine type render a div with a class of div-btn with a winetype--> 
<% @wines.each do |wine| %>
	<div class="div_btn">
		<%= wine.wine_type %>
	</div>	
<% end %>	

<!--Button to make another pairing-->
<button id="pairAnother"> Pair Another Wine	
</button>