<!--For each wine type in wines tables display a clickable div with -->
<!--the type centered-->

<!--Wine Category Pic-->
<div class="categoryPic">
	<img src="/images/winescoll.jpg" class="img-responsive"/>
</div>

<!--List of Wines by Type for each wine type render a div with a class of div-btn with a winetype--> 
<h4>Choose A Wine to Pair...</h4>
	<% @wines.each do |wine| %>
		<a href="/wines/pairs/<%=wine.id%>"> 
			<div class="col-md-4 well">
				<%= wine.wine_type %> 
			</div>
		</a>	
	<% end %>	
<!--Button to make another pairing-->
<a href="/foods">
	<div class="btn btn-success" id="pairAnother"> Pair by Food	
	</div>
</a>
<a href="/beers">
	<div class="btn btn-warning" id="pairAnother"> Pair by Beer	
	</div>
</a>
<br>
