<!--Display pairings of food with wines or food with beers depending-->
<!--on which type was clicked-->

<div id="topNav">
	<p><a href="/home">Home</a></p>
</div>
<div class="categoryPic">
	<img src="/images/wines.jpg " class="img-responsive"/>
</div>


<!--Display wine type and each associated wine pair-->
<div id="typeTitle">
	<h4>Simple Pairs for <%=@wine.wine_type%></h4>			
</div>

<!--Display each food Pair-->
<div>
		<%@wine.winepairs.each do |winepair|%>
		<div class="well col-4-md">
			<%=winepair.food.food_type%>	
		</div>
		<%end%>
</div>

<!--option to see varietals for this wine type-->
<div class="well bg-warning">
	See/Shop for Varietals of <%=@wine.wine_type%>
</div>

<!--Button to make another pairing-->
<br>
<a href="/wines"><button class="button btn-primary" id="pairAnother">Pair Another Wine	
</button></a>
<br><br>
<a href="/home/logout">Logout</a>
