h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Handlee', cursive;
  color: #e55252 !important;
}
ul {
  list-style-type: none;
}
.recommendations {
  color: reg(229, 82, 82) !important;
}
#beerHeadline h4 {
  font-family: 'Handlee', cursive;
  color: #e55252 !important;
}
